/*div{
    color: blue;
}
#username{
    color: red;
}
.para{
    border: 1px solid yellow;
}
div{
    padding: 16px;
    border:2px solid;
    margin:16px;
}*/
/* .abc{
    border:1px solid;
    margin-bottom: 16px;
} */